/*color scheme:
    Black: #241e1b
    Grey: d8d3d0
    Yellow: e4a324
    Blue: 347d99
    Red: db402f
*/

.portfolio-film-video {
    background-color: #db402f;
}

.portfolio-makes {
    background-color: #e4a324;
}

.portfolio-digitalArt {
    background-color: #347d99;
}